*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
}


.netflix{
    width: 150px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.netflix span{
    width: 50px;
    height: 0;
    background: #db0001;
    position: absolute;
}


.bal{
    left: 0;
    bottom: 0;
    animation: animation 1s linear forwards;
    animation-delay: 1s;
}


.kozep{
    top: 0;
    left: 0;
    transform: skewX(22deg);
    transform-origin: top left;
    box-shadow: 0 0 50px #000;
    z-index: 2;
    animation: animation 1s linear forwards;
    animation-delay: 2s;
}


.jobb{
    right: 0;
    bottom: 0;
    animation: animation 1s linear forwards;
    animation-delay: 3s;
}


.netflix::after{
    content: '';
    width: 120%;
    height: 20px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    left: -10%;
    bottom: -10px;
    z-index: 5;
}


.netflixFullLogo{
    width: 200px;
    align-content: center;
    margin: auto;
}



@keyframes animation{
    100%{
        height: 100%;
    }
}